params {
    // Input/Output
    input       = null   // required: example samplesheet.csv
    outdir      = "results"

    // Recursos
    threads     = 4

    // Genoma
    fasta_url   = null          // obligatorio si no se da --index
    genomedir   = "reference"
    index_name  = null          // obligatorio: --index_name hsa_mir
    index       = null          // obligatorio

    // Anotación
    annotation_url = "https://mirbase.org/download/hsa.gff3"
    annotation     = null       // obligatorio
}