params {
    // Input/Output
    input       = null   // required: example samplesheet.csv
    outdir      = "results"

    // Recursos
    threads     = 4

    // Genoma
    fasta_url   = null          // obligatorio si no se da --index
    genomedir   = "reference"
    index_name  = null          // obligatorio: --index_name hsa_mir
    index       = null          // obligatorio

    // Anotación
    annotation_url = "https://mirbase.org/download/hsa.gff3"
    annotation     = null       // obligatorio
}

profiles {

    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }

    test {
        params.input = "data/test/samplesheet.csv"
        params.fasta_url = "https://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"
        params.index_name = "chr22"
    }
}